@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

@import "zeroing";

body{
  font-family: 'Anton', sans-serif;
  background-color: rgb(223, 223, 223);
}

._container{
  width: 1150px;
  margin: 0 auto;
}

.wrapper{
  max-width: 1600px;
  margin: 0 auto;
  background-color: white;
  .header{
    color: white;
    background: linear-gradient(105.89deg, rgba(0, 0, 0, 0.37) 5.05%, rgba(0, 0, 0, 0.15) 112.97%),
      url(../images/header-bg.jpg) 50%/cover no-repeat;
    position: relative;
    width: 100%;
    height: 1000px;
    .header__nav{
      display: flex;
      align-items: center;
      position: absolute;
      left: 13.5%;
      right: 13.44%;
      top: 6.33%;
      bottom: 88.33%;
      .nav_links{
        margin-left: 70px;
        width: 314px;
        display: flex;
        justify-content: space-between;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      .link_item{
        cursor: pointer;
      }
      .link_item:hover{
        text-decoration: underline;
      }
      .link_item:active{
        color: silver;
      }
      .nav_number{
        position: absolute;
        right: 0;
        align-self: center;
      }
    }
    .header__section{
      text-transform: uppercase;
      position: absolute;
      left: 13.31%;
      right: 54.75%;
      top: 35.67%;
      bottom: 40%;
      .section__title{
        letter-spacing: 0.1em;
        font-size: 30px;
      }
      .section__subtitle{
        font-size: 100px;
        padding: 20px 0;
        margin-left: -3px;
      }
      .section__button{
        position: absolute;
        bottom: 0;
        left: 0;
        letter-spacing: 0.1em;
        font-size: 17px;
        border: 1px solid #fff;
        padding: 18px 50px;
        cursor: pointer;
      }
      .section__button:hover{
        background-color: rgba(1, 1, 1, 0.3);
      }
    }
  }

  .about{
    position: relative;
    width: 1600px;
    .about__title {
      margin: 0 auto;
      font-size: 50px;
      text-transform: uppercase;
      margin-top: 113px;
    }
    .about__p {
      display: flex;
      margin-top: 58px;
      .p__p1 {
        display: inline-block;
        width: 49%;
        padding-right: 5px;
      }
      .p__title {
        font-size: 25px;
      }
      .p__p {
        margin-top: 32px;
        font-size: 16px;
        line-height: 26px;
        font-family: 'Open Sans';
      }
      .p__p2 {
        display: inline-block;
        width: 49%;
        padding-left: 5px;
      }
    }
    .about-images{
      margin-top: 113px;
      display: flex;
      justify-content: space-between;
    }
  }
  .footer{
    position: relative;
    background-color: white;
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
    font-size: 15px;
    font-family: 'Open Sans';
    .footer__text2{
      margin-left: 50px;
    }
  }
}

